.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
/*
从网上 angular 官方上复制的
https://docs.angularjs.org/api/ngAnimate
当安装了 angular-animate 插件，后，下面的样式自动写入 html 标签内
*/
.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}
/* The finishing CSS styles for the enter animation */
.ng-enter-active {
  opacity: 1;
}
/*
从网上 angular 官方上复制的
https://docs.angularjs.org/api/ngAnimate
当安装了 angular-animate 插件，后，下面的样式自动写入 html 标签内
结束
*/
