<div class="register">
  <form class='d-b ta-c' name='form'>
    <div class="form-line d-b p-r">
      <span class="icon account d-b f-l"></span>
      <input name='phone' validator='required,phone' ng-model='user.phone' class='d-b f-l' type="text" placeholder="请输入手机号">
    </div>
    <div class="form-line d-b p-r">
      <span class="icon lock d-b f-l"></span>
      <input name='password' class='d-b f-l' validator='required,password' ng-model='user.password' type="password" placeholder="设置6位以上的密码">
    </div>
    <div class='message-wrap d-b p-r clear'>
      <input name='code' validator='required' class='messageInput d-b f-l' ng-model='user.code' type="text" placeholder="短信验证码">
      <span class='message d-b f-r {{time?"disabled":""}}' ng-click='time?1==1:send()' ng-bind='time?time:"发送短信"'></span>
      <!-- time?1==1:send()判断 time 如果为空， 才能使用send() -->
      <div class='clear'></div>
    </div>
    <button class='login-btn' ui-sref='login'>登陆</button>
    <button class='register-btn' validation-submit='form' ng-click='submit()'>注册</button>
  </form>
</div>
