.login {
  background-image: url('../img/background.png');
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
