<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <div ng-app="myApp">

        <div ng-init="quantity=1;price=5">
            <h2>价格计算器</h2>
            数量： <input type="number" ng-model="quantity">
            价格： <input type="number" ng-model="price">
            <p><b>总价：</b> {{ quantity * price }}</p>
            <p><b>总价：</b><span ng-bind="quantity * price"></span></p>
        </div>

        <br><br>

        <div runoob-directive1></div>
        <!-- 通过属性创建自定义指令 -->
        <runoob-directive1>
          <div>测试</div>
        </runoob-directive1>
        <!-- 通过标签名来创建自定义指令 -->

        <br><br>

        <div ng-init="points=[1,15,19,2,40]">

      		<p>第三个值为 <span ng-bind="points[2]"></span></p>
      		<!-- 得19获取 points 默认属性，ng-bind直接将值显示在文本里 -->
      	</div>

    </div>
    <script src='../angular.min.js'></script>
    <script>
        var app = angular.module('myApp', []);
        app.directive("runoobDirective1", function() {
            return {
                restrict : "AE",
                /*
                上面的restrict : "AE",是指定下面的类型
                A，通过属性来创建自定义指令
                E，通过标签名来创建自定义指令
                这里连写成AE
                */
                template: "<div><h1>自定义指令!</h1><div ng-transclude></div></div>",
                //
                replace: true,
                /*
                加上 replace: true 会在网页中删除<runoobDirective1>标签,
                <runoobDirective1> 标签会替换掉父元素，并得到父元素的属性
                注意：replace: true 时，<runoobDirective1>必须有父元素

                replace: false 默认
                会在网页上加入<runoobDirective1>标签，
                包裹着<h1>自定义指令!</h1>

                */
                transclude:true
                /*
                transclude:true时，会将
                <runoob-directive1>标签里的子元素
                <div>测试</div>
                放入上面定义的
                template: "<div><h1>自定义指令!</h1><div ng-transclude></div></div>",
                里面的 <div ng-transclude></div>里面去
                */
            };
        });
    </script>
</body>

</html>
