<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
            名: <input type="text" ng-model="firstName"><br> 姓: <input type="text" ng-model="lastName"><br>
            <br> 姓名: {{firstName + " " + lastName}}
        </div>

        <br><br>

        <div ng-controller="personCtrl">

            名: <input type="text" ng-model="firstName"><br> 姓: <input type="text" ng-model="lastName"><br>
            <br> 姓名: {{fullName()}}
            <!-- 执行下面的fullName()方法 -->
        </div>

        <br><br>
        
        <div ng-init="quantity=1;price=5">
      		<!-- 设置默认值 ng-init -->
      		<h2>价格计算器</h2>v

      		数量： <input type="number" ng-model="quantity">
      		<!-- 在这里输入值会改变上面的默认值 -->
      		价格： <input type="number" ng-model="price">
      		<!-- 在数量和价格input输入值，下面的{{ quantity * price }}跟着改变计算结果 -->
      		<p><b>总价：</b> {{ quantity * price }}</p>

      	</div>
    </div>

    <script src='../angular.min.js'></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });

        app.controller('personCtrl', function($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.fullName = function() {
                return $scope.firstName + " " + $scope.lastName;
            }
        });
    </script>
</body>

</html>
